.hero-slideshow{
    position: relative;
    height: 50vh;
    width: 80%;
    overflow: hidden;

}

.hero-slideshow.slide{
    position: absolute;
    top: 0; left: 0;
    width: 80%; height: 80%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.hero-slideshow .slide.active {
    opacity: 1;
    z-index:2;
}

.hero-slideshow .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 80%; height: 80%;
    background: #ffff;
    z-index: 1;
}