 body {
      font-family: Arial, sans-serif;
      background: #f1f2f6;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .calculator {
      background: #ffffff;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
      padding: 20px;
      width: 340px;
    }

    input {
      width: 100%;
      height: 60px;
      font-size: 24px;
      text-align: right;
      border: none;
      background:  #f1f2f6;
      border-radius: 10px;
      margin-bottom: 15px;
      padding: 10px;
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
    }

    button {
      height: 50px;
      font-size: 10px;
      border: none;
      border-radius: 10px;
      background:  #000;
      color: #f1f2f6;
      cursor: pointer;
      transition: 0.2s;
    }

    button:hover {
      background: #000;
    }

    .operator {
      background: #1e7e34;
    }

    .operator:hover {
      background: #1e7e34;
    }

    .clear {
      background: #1e7e34;
    }

    .clear:hover {
      background: #1e7e34;
    }

    .equal {
      background: #007bff;
    }

    .equal:hover {
      background: #007bff;
    }

    