 body {
      font-family: Arial, sans-serif;
      background: #f4f4f9;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .calculator {
      background: #000;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      width: 260px;
    }
    input {
      width: 100%;
      height: 50px;
      text-align: right;
      font-size: 24px;
      border: none;
      background: #f4f4f9;
      border-radius: 10px;
      margin-bottom: 10px;
      padding-right: 10px;
    }
    .buttons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
    button {
      height: 50px;
      font-size: 10px;
      border: none;
      border-radius: 10px;
      background: #f4f4f9;
      color: #000;
      cursor: pointer;
      transition: 0.2s;
    }
    button:hover {
      background: #f4f4f9;
    }
    .operator {
      background: #e68900;
    }
    .operator:hover {
      background: #e68900;
    }
    .clear {
      background: #d32f2f;
    }
    .clear:hover {
      background: #e68900;
    }
    
    
